[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/onehao
[access "refs/for/refs/*"]
	read = group user/onehao
	push = group user/onehao
	label-Code-Review = -2..+2 group user/onehao
	label-Verified = -1..+1 group user/onehao
	rebase = group user/onehao
	removeReviewer = group user/onehao
	submit = group user/onehao
[access "refs/heads/*"]
	read = group user/onehao
	create = group user/onehao
	push = +force group user/onehao
	pushMerge = group user/onehao
[access "refs/tags/*"]
	push = +force group user/onehao
	pushTag = group user/onehao
	pushSignedTag = group user/onehao
